{% if messages %}
    {% for message in messages %}
        {{message}}

        <!-- {% include "components/modal/index.html" with id=message.id icon="highlight_off" title=message.extra_tags message=message type=message.tags text_secondary="BIRL" %}
        <script type="text/javascript">
            $(document).ready(function(){
                $(".modal").modal("show")
            });
        </script> -->
    {% endfor %}

            <!-- <div aria-live="polite" aria-atomic="true" class="position-relative">
                <div class="toast-container position-fixed top-0 end-0 p-4">
                    {% for message in messages %}
                        <div class="toast fade" aria-live="polite" aria-atomic="true" data-bs-delay="3000">
                            <div role="alert" aria-live="assertive" aria-atomic="true" >
                                <div class="toast-header text-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">
                                    <strong class="me-auto">
                                        {% if message.tags == 'success' %}
                                            Sucesso!!!
                                        {% elif message.tags == 'info' %}
                                            Informação!!!
                                        {% elif message.tags == 'warning' %} 
                                            Perigo!!!
                                        {% elif message.tags == 'error' %}
                                            Erro!!!
                                        {% endif %}
                                    </strong>
                                    <small class="text-muted">Agora</small>
                                </div>
                                <div class="toast-body text-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}">
                                    {{message}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div> -->
        {% endif %}