{% extends "base.html" %}

<!-- Block Conteúdo da Página -->
{% block content %}
    <!-- BREADCUMB -->
    <div class="nav-wrapper transparent">
        <div class="col s12 fs-5 p-3 m-2 pt-0">
            <a class="breadcrumb"><span class="text-secondary">Dashboard</span></a>
            
            <div class="right">
                <a class="center waves-effect waves-light btn bt-secondary z-depth-4 m-1" href='{% url "conectar_sala" %}'>
                    SALA | ENTRAR
                </a>
                <a class="center waves-effect waves-light btn bt-primary z-depth-4 m-1" href='{% url "registrar_sala" %}'>
                    SALA | ADICIONAR
                </a>
            </div> 
        </div>
    </div>

    <!-- Barra de Pesquisa -->
    <div class="container">
        <div class="container">
            <form method="GET">
                {% csrf_token %}
                <div class="input-field">
                    <i class="material-icons prefix">search</i>
                    <input type="text" name="search" id="search">
                    <label for="search">Pesquisar Sala:</label>    
                </div>
            </form>
        </div>
    </div>

    {% if salas %}
        <div class="container">
            <div class="row">
                {% for sala in salas %}
                    <a href="{% url 'listar_votacoes' sala.id %}">
                        <div class="col s12 m6 x4 xl4">
                            <div class="card bt-secondary text-white p-2 fs-6 center truncate">
                                {{sala}}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container center mt-10">
            <div class="fs-4 text-secondary">
                Não há salas disponíveis.
            </div>
        </div>
    {% endif %}

{% endblock content %}

<!-- Block Título da Página -->
{% block title %}
    Dashboard | Votation
{% endblock %}