{% extends 'base.html' %}

{% block title %}
    Dashboard | System Votation
{% endblock %}

{% block content %}
    {% if votacoes %}
        <div class="container format-table">
            <table class="responsive-table centered highlight striped z-depth-3">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Horário de Ínicio</th>
                        <th>Horário de Término</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="divider">
                    {% for votacao in votacoes %}
                        <tr>
                            <td>{{votacao.titulo}}</td>
                            <td>{{votacao.data_inicio}}</td>
                            <td>{{votacao.data_fim}}</td>
                            <td><a id="btn_index" href="{% url 'votar' votacao.id %}" class="btn"><span>Votar</span></a></td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock content %}

{% block css %}
    <style>
        .format-table{
            margin-top: 3%;

        }

        #btn_index{
            background-color: #673ab7;
            color: white;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        #btn_index:hover{
            background-color: #9575cd;
        }
    </style>
{% endblock %}

{% block javascript %}
{% endblock %}