{% extends "base.html" %}

{% load materializecss %}

{% block title %}
    Conectar | System Votation
{% endblock %}

{% block content %}
    <div class="container center">
        <div class="item-center container">
            <div class="container">
                <div class="card p-2 z-depth-4">
                    <span class="card-title">
                        <h5 class="fw-bold">ENTRAR EM UM sala</h5>
                    </span>

                    <div class="card-content">
                        <form method="POST" validate="{% url 'validate_group' %}">
                            {% csrf_token %}
                            <div class="container">
                                <div class="input-field col s12">
                                    <input type="text" name="sala" maxlength="194" class="validate invalid" required="" id="id_sala">
                                    <label class="" for="id_sala">Código do sala:</label>
                                </div>

                                <div class="row center mt-2">
                                    <a id="btn-voltar-conectar" class="center waves-effect waves-light btn bt-secondary z-depth-4 m-1" href="/">
                                    VOLTAR
                                    </a>
                                    
                                    <button id="btn-entrar-conectar" class="center waves-effect waves-light btn bt-primary z-depth-4 m-1" type="submit">
                                    ENTRAR
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block css %}
{% endblock %}

{% block javascript %}
    <!-- Inicialização JavaScript -->
    <script>
        $(document).ready(function(){
            $("#btn-entrar-conectar").attr("disabled", true);
        });
    </script>

    <!-- Função Ajax - Validar sala -->
    <script>
        $("#id_sala").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: form.attr("validate"),
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    if(!data.is_group){
                        M.toast({html: data.error_message})
                        $("#btn-entrar-conectar").attr("disabled", true);
                    }
                    else{
                        $("#btn-entrar-conectar").attr("disabled", false);
                    }
                }
            });
        });
    </script>
{% endblock %}