{% extends "base.html" %}

{% load materializecss %}

{% block title %}
    Registrar | System Votation
{% endblock %}

{% block content %}
    <div class="container center">
        <div class="item-center container">
            <div class="container">
                <div class="card p-2 z-depth-4">
                    <span class="card-title">
                        <h5 class="fw-bold">REGISTRAR sala</h5>
                    </span>

                    <div class="card-content">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="container">
                                {{ form.titulo|materializecss}}

                                <div class="row center mt-2">
                                    <a class="center waves-effect waves-light btn bt-secondary z-depth-4 m-1" href="/">
                                    VOLTAR
                                    </a>
                                    
                                    <button id="btn-login" class="center waves-effect waves-light btn bt-primary z-depth-4 m-1" type="submit">
                                    SALVAR
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block css %}
    <style>
        .card {
            border: 1px solid #e0e0e0;
        }

        .format-buttons{
            margin-bottom: 5px;
        }

        .format-buttons .btn{
            margin-top: 5px;
        }

        .format-form{
            margin-top: 3%; 
            padding: 5px;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){

        }); 
    </script>
{% endblock %}