{% extends "base.html" %}

{% block content %}

<main>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="container">
                    <div class="alert alert-success card z-depth-5">
                        <div class="card-content">
                            <li{% if message.tags %} class="{{ message.tags }} text-purple"{% endif %}>{{ message }}</li>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    {% if opcoes %}
        <div class="col s12 m6 l10 center">
            <h2 class="text-theme truncate" >
                Opções Cadastradas
            </h2>
        </div>
        
        <div class="container">
            <table class="responsive-table centered highlight striped z-depth-3">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Votação</th>
                        <th>Código</th>
                        <th>Número de Votos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for opcao in opcoes %}
                        <tr>
                            <td>{{opcao.nome}}</td>
                            <td>{{opcao.votacao.nome}}</td>
                            <td>{{opcao.codigo}}</td>
                            <td>{{opcao.numero_votos}}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container">
            <div class="alert card z-depth-5">
                <div class="card-content">
                    <p><i class="material-icons">info</i><span>No momento, não existem opções de votos cadastradas!</span></p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="fixed-action-btn">
        <a href="{% url 'listar_opcoes' %}" class="btn-floating purple lighten-2 btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
    </div>
</main>

{% endblock content %}