{% extends "base.html" %}

{% load materializecss %}

{% block title %}
    Conectar | System Votation
{% endblock %}

{% block content %}
    <div class="container center">
        <div class="item-center container">
            <div class="container">
                <div class="card p-2 z-depth-4">
                    <span class="card-title">
                        <h5 class="fw-bold">ENTRAR EM UM GRUPO</h5>
                    </span>

                    <div class="card-content">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="container">
                                <div class="input-field col s12">
                                    <input type="text" name="grupo" maxlength="194" class="validate invalid" required="" id="id_grupo">
                                    <label class="" for="id_grupo">Nome do Grupo:</label>
                                </div>

                                <div class="row center mt-2">
                                    <a class="center waves-effect waves-light btn bt-secondary z-depth-4 m-1" href="/">
                                    VOLTAR
                                    </a>
                                    
                                    <button id="btn-login" class="center waves-effect waves-light btn bt-primary z-depth-4 m-1" type="submit">
                                    SALVAR
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}