{% extends 'base/base_login.html' %}

{% load static %}

{% load materializecss %}

{% block title %}
    Redefinição de senha concluída | Votation
{% endblock %}

{% block content %}
    <div class="container mt-7 text-white"> 
        <div class="container">
            <div class="container p-6">
                <div class="center">
                    <h5 class="center">Redefinição de senha completa</h5>
                    <span class="center">Sua senha foi definida. Você pode prosseguir e autenticar agora.</span>
                </div>
                <div class="container center">
                    <a href="{% url 'login' %}" class="btn waves-effect waves-light bt-secondary z-depth-4 m-5  ">
                        <span class="text">SIGN IN</span>
                    </a>
                </div>
            </div>   
        </div>
    </div>
{% endblock %}
