{% extends 'base/base_login.html' %}

{% load static %}

{% block title %}
    Redefinição de senha concluída | Votation
{% endblock %}

{% block content %}
    <div class="item-center container center">
        <div class="container">
            <div class="container">
                <div class="card p-2 z-depth-4">
                    <div class="center m-2">
                        <h5 class="center fs-2">Confirmação de mensagem para redefinição de senha enviada</h5>
                    </div>
                    <article class="fs-6 text-justify m-5">
                        Um e-mail foi enviado com instruções para redefinir a senha,
                        se fornecido com o e-mail correto, a mensagem chegará em breve, se você não tiver
                        não recebeu nenhuma mensagem, certifique-se de fornecer o endereço de e-mail em que você está
                        registrado. Verifique sua pasta de spam.
                    </article>
                </div>
            </div>
        </div>
    </div>
{% endblock %}