{% extends 'usuarios/base_login.html' %}

{% load static %}

{% load materializecss %}

{% block title %}
    Reset Password Confirm | Sign UP
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    {% endif %}

    <div class="container format_reset_confirm"> 
        <div class="container">
            <div class="container">
                <div class="center">
                    <img src="{% static 'images/reset.svg' %}" width="20%" height="20%">
                    <h5 class="center">Enter new password</h5>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <span class="center">
                        Please enter your new password twice so that we can validate it
                    </span>
                    {{form | materializecss}}
                    <p>
                        <input id="check" type="checkbox"/>
                        <label for="check">Show Password</label>
                    </p>
                    <div class="container center">
                        <button id="btn_confirm_reset" class="btn btn-primary black" type="submit">
                            <span class="text">SEND</span>
                        </button>
                    </div>
                </form>
            </div>   
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        .format_reset_confirm{
            margin-top: 5%;
        }

        label{
            margin-bottom: 7px;
        }

        #btn_confirm_reset{
            margin-top: 10px;
            background-color: black;
            color: white;
        }

        #btn_confirm_reset:hover{
            background-color: #424242;
            color: white;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        $('#check').click(function () {
            if($(this).is(':checked')){
                $("#id_new_password1").attr("type", "text");
                $("#id_new_password2").attr("type", "text");
            }
            else {
                $("#id_new_password1").attr("type", "password");
                $("#id_new_password2").attr("type", "password");
            }
        })
    </script>
{% endblock %}