{% extends 'usuarios/base_login.html' %}

{% load static %}

{% load materializecss %}

{% block title %}
    Redefinir senha | Votation
{% endblock %}

{% block content %}
    <div class="item-center container center">
        <div class="container">
            <div class="container">
                <div class="card p-3 z-depth-4">
                    <h5 class="fw-bold fs-4">Recuperar Senha</h5>
                    <div class="card-content">
                        <form method="POST" validate="{% url 'validate_email_registered' %}">
                            {% csrf_token %}

                            {{form|materializecss}}
                            <div class="row">
                                <div class="col s12">
                                    <span class="helper-text left" data-error="wrong" data-success="right">*Insira um e-mail válido para recuperação de conta</span>
                                </div>

                                <div class="col s12">
                                    <div class="container center">
                                        <a href="#modal-back" class="waves-effect waves-light bt-primary z-depth-4 btn m-1 modal-trigger">
                                            <span class="text">VOLTAR</span>
                                        </a>
                                        
                                        <button id="btn_reset_password" class="waves-effect waves-light bt-primary z-depth-4 btn m-1" type="submit">
                                            <span class="text">ENVIAR</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $("#btn_reset_password").attr("type", "password");
            $("#id_confirm_password").attr("type", "password");

            $('.modal').modal();
        });
    </script>

    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: form.attr("validate"),
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    //CONFIRM IF EMAIL EXIST
                    if(!data.is_email_registered){
                        M.toast({html: data.error_message})
                        $("#btn_reset_password").attr("disabled", true);
                    }
                    else{
                        $("#btn_reset_password").attr("disabled", false);
                    }
                }
            });
        });
    </script>
{% endblock %}