{% extends 'usuarios/base_login.html' %}

{% load static %}

{% load materializecss %}

{% block title %}
    Reset Password Confirm | Sign UP
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
    {% endif %}

    <div class="container text-white"> 
        <div class="container">
            <div class="container mt-7">
                <div class="center">
                    <h5 class="center">Insira a nova senha</h5>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <span class="center">
                        Por favor, digite sua nova senha duas vezes para que possamos validá-la
                    </span>
                    {{form | materializecss}}
                    <p class="center mb-2">
                        <label>
                            <input id="check_login" type="checkbox"/>
                            <span>Mostrar/Ocultar Senha</span>
                        </label>
                    </p>
                    <div class="container center">
                        <button class="waves-effect waves-light bt-secondary z-depth-4 btn " type="submit">
                            ENVIAR
                        </button>
                    </div>
                </form>
            </div>   
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        input{
            color:white;
        }
    </style>
{% endblock %}

{% block javascript %}
    <!-- Mostrar e Ocultar Senha -->
    <script>
        $('#check_login').click(function () {
            if($(this).is(':checked')){
                $("#id_new_password1").attr("type", "text");
                $("#id_new_password2").attr("type", "text");
            }
            else {
                $("#id_new_password1").attr("type", "password");
                $("#id_new_password2").attr("type", "password");
            }
        })
    </script>
{% endblock %}