{% extends 'usuarios/base.html' %}

{% load static %}

{% load materializecss %}

{% block title %}
    Confirmar redefinição de senha | Votation
{% endblock %}

{% block content %}
    <!-- {% if form.errors %}
        {% for error in form.non_field_errors %}
            <div class="container">
                <div class="row">
                    <div class="alert card bg-danger text-white">
                        <div class="card-content">
                            <p><i class="material-icons">report</i><strong>{{ error|escape }}</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %} -->

    <div class="item-center container center">
        <div class="container">
            <div class="container">
                <div class="card p-2 z-depth-4 p-2">
                    <div class="center m-3">
                        <h5 class="center">Insira a nova senha</h5>
                    </div>
                    <form class="m-4" method="POST">
                        {% csrf_token %}
                        <div class="mt-4">
                            Por favor, digite sua nova senha duas vezes para que possamos validá-la
                        </div>
                        {{form | materializecss}}
                        <p class="center mb-2">
                            <label>
                                <input id="check_login" type="checkbox"/>
                                <span>Ocultar Senha</span>
                            </label>
                        </p>
                        <div class="container center">
                            <button class="waves-effect waves-light bt-secondary z-depth-4 btn" type="submit">
                                ENVIAR
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
 
    </style>
{% endblock %}
