{% extends 'usuarios/base_login.html' %}

{% load static %}

{% load materializecss %}

{% block title %}
    Reset Password | Sign UP
{% endblock %}

{% block content %}
    <div class="container center" style="margin-top: 6%;">
        <div class="container">
            <div class="container">
                <div class="card">
                    <h5 style="font-weight:bold">Recuperar Senha</h5>
                    <div class="card-content">
                        <form method="POST" validate="{% url 'validate_email_registered' %}">
                            {% csrf_token %}

                            {{form|materializecss}}
                            <div class="row">
                                <div class="col s12">
                                    <span class="helper-text left" data-error="wrong" data-success="right">*Insira um e-mail válido para recuperação de conta</span>
                                </div>

                                <div class="col s12">
                                    <div class="container center">
                                        <a id="btn_back_password" href="#modal-back" class="waves-effect waves-light btn modal-trigger">
                                            <span class="text">VOLTAR</span>
                                        </a>
                                        <button id="btn_reset_password" class="btn btn-primary waves-effect waves-light" type="submit">
                                            <span class="text">SALVAR</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Structure -->
    <div id="modal-back" class="modal">
        <div class="modal-content">
            <h4>Voltar para Login</h4>
            <p>Você realmente deseja continuar esta ação?</p>
        </div>
        <div class="modal-footer">
            <a id="btn_modal_exit_signup" href="" class="modal-close btn btn-flat">SAIR</a>
            <a id="btn_modal_confirm_signup" href="{% url 'login' %}" class="modal-close btn btn-flat">CONTINUAR</a>
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        #btn_back_password{
            margin-top: 5px;
            background-color: #673ab7;
            color: white;
        }
        #btn_back_password:hover{
            background-color: #9575cd;
            color: white;
        }

        #btn_reset_password{
            margin-top: 5px;
            background-color: #673ab7;
            color: white;
        }
        #btn_reset_password:hover{
            background-color: #9575cd;
            color: white;
        }

        #btn_modal_exit_signup:hover{
            background-color: #e0e0e0;
            color: #616161;
        }

        #btn_modal_confirm_signup:hover{
            background-color: #e0e0e0;
            color: #616161;
        }
    </style>
{% endblock %}

{% block javascript %}

    <script>
        $(document).ready(function(){
            $("#btn_reset_password").attr("type", "password");
            $("#id_confirm_password").attr("type", "password");

            $('.modal').modal();
        });
    </script>

    <!-- Validação do E-mail -->
    <script>
        $("#id_email").change(function () {
            var form = $(this).closest("form");
            $.ajax({
                url: form.attr("validate"),
                data: form.serialize(),
                dataType: 'json',
                success: function (data) {
                    //CONFIRM IF EMAIL EXIST
                    if(!data.is_email_registered){
                        M.toast({html: data.error_message})
                        $("#btn_reset_password").attr("disabled", true);
                    }
                    else{
                        $("#btn_reset_password").attr("disabled", false);
                    }
                }
            });
        });
    </script>
{% endblock %}