{% extends 'usuarios/base_login.html' %}

{% load materializecss %}

{% load static %}

{% block title %}
  Cadastrar | Sign UP
{% endblock %}

{% block content %}
  <div class="container" style="margin-top: 1%;">
    <div class="container">
      <div class="container">
        <div class="text-left mb-5 center">
          <img src="{% static 'images/signup.svg' %}" width="20%" height="20%">
          <h5 style="font-weight:bold">SIGN UP</h5>
        </div>
        <form method="POST" class="user" validate="{% url 'validate_email' %}">
          {% csrf_token %}
            <div class="row center">
              {{form|materializecss}}
              <span class="helper-text center" data-error="wrong" data-success="right">
                Your password must contain at least 8 characters.<br>
                Your password must contain at least one lowercase and uppercase letter.<br>
                Your password must contain special characters.<br>
                Your password cannot be entirely numeric.
              </span>
              <div class="input-field col s12">
                <input type="password" name="confirm_password" class="validate" required="" id="id_confirm_password">
                <label for="id_confirm_password">Confirm password</label> 
              </div>
          </div>

          <div class="col s12">
            <input id="check" type="checkbox"/>
            <label for="check">Show Password</label>
          </div>

          <div class="row">
            <div class="container center">
              <a id="btn_back_signup" href="#modal-back" class="waves-effect waves-light btn modal-trigger">
                <span class="text">BACK</span>
              </a>
              <button id="btn_signup_signup" class="btn btn-primary" type="submit">
                <span class="text">SIGN UP</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal-back" class="modal">
    <div class="modal-content">
      <h4>Back to Dashboard</h4>
      <p>Do you really want to continue this action?</p>
    </div>
    <div class="modal-footer">
      <a id="btn_modal_exit_signup" href="" class="modal-close btn btn-flat">EXIT</a>
      <a id="btn_modal_confirm_signup" href="{% url 'login' %}" class="modal-close btn btn-flat">CONFIRM</a>
    </div>
  </div>
{% endblock %}

{% block css %}
  <style>
    #btn_back_signup{
      margin-top: 5px;
      background-color: black;
      color: white;
    }
    #btn_back_signup:hover{
      background-color: #424242;
      color: white;
    }

    #btn_signup_signup{
      margin-top: 5px;
      background-color: black;
      color: white;
    }
    #btn_signup_signup:hover{
      background-color: #424242;
      color: white;
    }

    #btn_modal_exit_signup:hover{
      background-color: #e0e0e0;
      color: #616161;
    }

    #btn_modal_confirm_signup:hover{
      background-color: #e0e0e0;
      color: #616161;
    }
  </style>
{% endblock %}

{% block javascript %}
  <!-- Inicialização da Página -->
  <script>
    $(document).ready(function(){
      $("#id_password").attr("type", "password");
      $("#id_confirm_password").attr("type", "password");

      $('.modal').modal();
    });
  </script>

  <!-- Mostrar/Ocultar Senha -->
  <script>
    $('#check').click(function () {
      if($(this).is(':checked')){
        $("#id_password").attr("type", "text");
        $("#id_confirm_password").attr("type", "text");
      } 
      else {
        $("#id_password").attr("type", "password");
        $("#id_confirm_password").attr("type", "password");
      }
    })
  </script>

  <!-- Validar a Confirmação de Senha -->
  <script>
    $("#id_confirm_password").change(function () {
      var password = $("#id_password").val();
      var confirm_password = $("#id_confirm_password").val();
      var password_size = password.length;

      let regex = /^(?=.*[@!#$%^&*()/\\])[@!#$%^&*()/\\a-zA-Z0-9]{8,16}$/;

      if (password != "" && confirm_password != "" && password === confirm_password){
          if(!regex.test(password)){
            $("#btn_signup_signup").attr("disabled", true);
          }

          if(password_size < 8){
            M.toast({html: "Quantidade mínima de caracteres: 8"})
          }
          else if(password_size > 16){
            M.toast({html: "Quantidade máxima de caracteres: 16"})
          }
          else if(regex.test(password)){
            $("#btn_signup_signup").attr("disabled", false);
          }
      }
      else{
        M.toast({html: "Os campos não se identificam!"})
        $('#id_password').val('');
        $('#id_confirm_password').val('');
        $('#id_password').focus();
      }
    });
  </script>

  <!-- Validação do E-mail -->
  <script>
    $("#id_email").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("validate"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if(data.is_email){
            M.toast({html: data.error_message})
            $('#id_email').val("");
            $('#id_email').focus();
          }
        }
      });
    });
  </script>
{% endblock %}