{% extends "base.html" %}

{% block title %}
    Listar Votações | Sistema de Votação
{% endblock %}

{% block content %}
    <div class="fixed-action-btn">
        <a href="{% url 'registrar_votacao' %}" class="btn-floating bt-primary btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
    </div>

    {% if votacoes %}
        <div class="col s12 m6 l10 m-4 center">
            <h4 class="truncate fs-2">
                Votações Cadastradas
            </h4>
        </div>

        <div class="container">
            <table class="responsive-table centered highlight striped z-depth-3">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Inicio</th>
                        <th>Término</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for votacao in votacoes %}
                        <tr>
                            <td>{{votacao.titulo}}</td>
                            <td>{{votacao.data_inicio}}</td>
                            <td>{{votacao.data_fim}}</td>
                            <td><a href="{% url 'detalhe_votacao' votacao.id %}" class="waves-effect waves-light bt-primary btn z-depth-4">DETALHES</a></td>
                            <td><a href="{% url 'apuracao' votacao.id %}" class="waves-effect waves-light bt-primary btn z-depth-4">APURAÇÃO</a></td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock content %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}