{% extends "base.html" %}

{% block title %}
    Listar Votações | Sistema de Votação
{% endblock %}

{% block content %}
    <main>
        {% if votacoes %}
            <div class="col s12 m6 l10 center">
                <h4 class="truncate" >
                    Votações Cadastradas
                </h4>
            </div>

            <div class="container">
                <table class="responsive-table centered highlight striped z-depth-3">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Horário de Inicio</th>
                            <th>Horário de Término</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for votacao in votacoes %}
                            <tr>
                                <td>{{votacao.titulo}}</td>
                                <td>{{votacao.data_inicio}}</td>
                                <td>{{votacao.data_fim}}</td>
                                <td><a href="{% url 'detalhe_votacao' votacao.id %}" class="purple btn"><span class='color-button-table'>DETALHES</span></a></td>
                                <td><a href="{% url 'apuracao' votacao.id %}" class="purple lighten-1 btn"><span class='color-button-table'>APURAÇÃO</span></a></td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="fixed-action-btn">
            <a href="{% url 'registrar_votacao' %}" class="btn-floating purple lighten-2 btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
        </div>
    </main>
{% endblock content %}

{% block css %}
{% endblock %}

{% block javascript %}
{% endblock %}