{% extends "base.html" %}

{% block content %}
    <!-- BREADCUMB -->
    <div class="nav-wrapper transparent">
        <div class="col s12 fs-5 p-3 m-2 pt-0 text-primary">
            <a href="/" class="breadcrumb text-primary">Dashboard</a>
            <a href="" class="breadcrumb text-secondary">{{sala}}</a>

            <!-- CÓDIGO DA SALA -->
            <a id="btn_copy" class="chip btn bt-primary m-1 tooltipped z-depth-5 right" onclick="M.toast({html: 'código copiado!', displayLength: 600, classes:'bg-success fs-6'});" data-position="left" data-tooltip="copy">{{sala.codigo}}</a>
        </div>
    </div>
      
    <!-- BOTÃO FLUTUANTE -->
    <div class="fixed-action-btn">
        <a href="{% url 'registrar_votacao' sala.id %}" class="btn-floating bt-primary btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
    </div>

    {% if list_votacoes %}
        <div class="col s12 m6 l10 m-4 center">
            <h4 class="truncate fs-2">
                Votações Cadastradas
            </h4>
        </div>

        <div class="container">
            <table class="responsive-table centered highlight striped z-depth-3">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Inicio</th>
                        <th>Término</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for votacao in list_votacoes %}
                        <tr>
                            <td>{{votacao.titulo}}</td>
                            <td>{{votacao.data_inicio}}</td>
                            <td>{{votacao.data_fim}}</td>
                            <td><a href="{% url 'detalhe_votacao' votacao.id %}" class="waves-effect waves-light bt-primary btn z-depth-4">DETALHES</a></td>
                            <td><a href="{% url 'apuracao' votacao.id %}" class="waves-effect waves-light bt-primary btn z-depth-4">APURAÇÃO</a></td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock content %}

{% block title %}
    Listar Votações | Sistema de Votação
{% endblock %}

{% block css %}
    <style>
        .breadcrumb:hover{
            opacity: 0.5;
        }
        .breadcrumb:before {
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block javascript %}
    <!-- COPY CODE SALA DE VOTAÇÃO -->
    <script>
        $("#btn_copy").click(function(event){
            var range = document.createRange();
            range.selectNode(this);
            window.getSelection().removeAllRanges();
            window.getSelection().addRange(range);
            document.execCommand("copy");
            window.getSelection().removeAllRanges();
        });
    </script>
{% endblock %}