{% extends "base.html" %}

{% load materializecss %}

{% block content %}
    <div class="container center">
        <div class="item-center container">
            <div class="container">
                <div class="card p-2 z-depth-4">
                    <span class="card-title">
                        <h5 class="fw-bold">REGISTRAR VOTAÇÃO</h5>
                    </span>

                    <div class="card-content">
                        <form id="form_registro_votacao" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12 m12 l12 xl12">
                                    {{ form.titulo|materializecss:'icon=person' }}
                                </div>
                                <div class="input-field col s12 m12 l12 xl12">
                                    {{ form.descricao|materializecss:'icon=description' }}
                                </div> 
                                <div class="input-field center col s12 m12 l12 xl12">
                                    {{ form.anonimo|materializecss }}
                                </div>
                                <div class="input-field col s12 m6 l6 xl6">
                                    {{ form.data_inicio|materializecss:'icon=watch_later' }}
                                </div> 
                                <div class="input-field col s12 m6 l6 xl6">
                                    {{ form.data_fim|materializecss:'icon=watch_later' }}
                                </div> 
                            </div>  

                            <div class="row center mt-2">
                                <a class="center waves-effect waves-light btn bt-secondary z-depth-4 m-1" href="{% url 'listar_votacoes' sala.id %}">
                                    VOLTAR
                                </a>
                                
                                <button id="btn-login" class="center waves-effect waves-light btn bt-primary z-depth-4 m-1" type="submit">
                                    SALVAR
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block title %}
    Registrar Sala | System Votation
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            
            $("#id_data_inicio").attr("type","text"); 
            $("#id_data_fim").attr("type","text"); 
            
            var DateField = MaterialDateTimePicker.create($('#id_data_inicio'));
            var DateField = MaterialDateTimePicker.create($('#id_data_fim'));
        }); 
    </script>

    <script>
        $("#form_registro_votacao").submit(function( event ) {
            var data_inicial = new Date($("input[name='data_inicio']").val());
            var data_final = new Date($("input[name='data_fim']").val());
            if (!data_inicial || !data_final) return false;

            if(data_inicial >= data_final){
                var toastHTML = '<span>Insira datas corretamente!</span>';
                M.toast({html: toastHTML});
                return false;
            }else{
                return true;
            }
        });
    </script>
{% endblock %}