{% extends 'base_login.html' %}

{% load static %}

{% load materializecss %}

{% block title %}
  Login | Sign UP
{% endblock %}

{% block content %}
  <div class="container center" style="margin-top: 4%;">
    <div class="container">
      <div class="container">
        <img src="{% static 'images/signin.svg' %}" width="20%" height="20%">
        <div>
          <h5 style="font-weight:bold">SIGN IN</h5>
        </div>

        <form method="POST" class="user" validate="{% url 'validate_user' %}">
          {% csrf_token %}
          {{form|materializecss}}
          <p>
            <input id="check_login" type="checkbox"/>
            <label for="check_login" style="margin-bottom: 7px;">Show Password</label>
          </p>
          <div class="container center">
            <button id="btn-login" class="btn btn-primary" type="submit">
              <span class="text">SIGN IN</span>
            </button>
          </div>
          <div class="center">
            <span>
              Ainda não se inscreveu no sistema?
              <a id="inscrever" href="{% url 'signup' %}">
                Inscrever-se
              </a>
            </span>
            <div class="container">
              <div id="divider-rp" class="divider grey darken-2"></div>
              <a id="esqueceu" href="{% url 'reset_password' %}">
                Esqueceu a senha
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block css %}
  <style>

  </style>
{% endblock %}

{% block javascript %}
  <!-- Função Ajax - Validar Usuário -->
  <script>
    $("#id_username").change(function () {
      var form = $(this).closest("form");
      $.ajax({
        url: form.attr("validate"),
        data: form.serialize(),
        dataType: 'json',
        success: function (data) {
          if(!data.is_user){
            M.toast({html: data.error_message})
            $("#btn-login").attr("disabled", true);
          }
          else{
            $("#btn-login").attr("disabled", false);
          }
        }
      });
    });
  </script>

  <!-- Mostrar/Ocultar Senha -->
  <script>
    $('#check_login').click(function () {
      if($(this).is(':checked')){
        $("#id_password").attr("type", "text");
      } 
      else {
        $("#id_password").attr("type", "password");
      }
    })
  </script>
{% endblock %}