/* FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* BARRA ROLAGEM PERSONALIZADA */
html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 10px
} 

body::-webkit-scrollbar-thumb {   
    background-color: darkgrey;   
}

/* COLOR LINK NAVBAR */
.nav-wrapper a,
.sidenav a{
    color: white,
}

/* Estilização dos Alert's */
.alert{
    margin-top: 2%;
    margin-bottom: 2%;
}
.alert .card-content span{
    font-weight: bold;
    font-size: 2em;
    margin-right:4px;
}
.alert .card-content .material-icons {
    font-size: 1.5em;
    position: relative;
    top: 6px;
    margin-right: 0.5em;
}

/* datepicker
.datepicker-date-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: #512da8;
    color: #fff;
    padding: 20px 22px;
    font-weight: 500;
}
.datepicker-table td.is-today {
    color: #512da8;
}
.timepicker-digital-display {
    -webkit-box-flex: 1;
    -webkit-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    background-color: #512da8;
    padding: 10px;
    font-weight: 300;
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #512da8;
    padding: 0 1rem;
}
.datepicker-table td.is-selected {
    background-color: #512da8;
    color: #fff;
}
.dropdown-content li > a, .dropdown-content li>span {
    font-size: 16px;
    color: #512da8;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
} */

/* datepicker */
.datepicker-date-display {
    background-color: #512da8;
    color: #fff;
}
.datepicker-table td.is-today {
    color: #512da8;
}
.timepicker-digital-display {
    background-color: #512da8;
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #512da8;
}
.datepicker-table td.is-selected {
    background-color: #512da8;
    color: #fff;
}
.dropdown-content li > a, .dropdown-content li>span {
    color: #512da8;
}