:root{
    --primary-color: gray;
    --secondary-color: green;
    --third-color: red;
    --light-color: white;
}

.bg__primary{
    background: var(--primary-color);
}

.bg__secondary{
    background: var(--secondary-color);
}

.bg__third{
    background: var(--third-color);
}

.bg__light{
    background: var(--light-color);
}

.text__primary{
    color: var(--primary-color);
}

.text__secondary{
    color: var(--secondary-color);
}

.text__third{
    color: var(--third-color);
}

.text__light{
    color: var(--light-color);
}

.hover:hover{
    opacity: .6;
}

/* FOOTER */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

