/* CARD's */
.container .container .card{
    padding: 2%;
}

.container .container .card .container h2 span{
    font-size: large;
}

/* Texto de ínicio
.text-theme{
    width: 100%;
    /* font-size: 60px; */
} */
