.nav-wrapper{
    background-color: blueviolet;
}

.page-footer{
    padding-top: 20px;
    background-color: blueviolet;
    margin: auto;
    width: 100%;
    bottom: 0;
    position: fixed;
}

.card{
    padding: 5%;
}