/* BODY */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* MAIN */
main {
    flex: 1 0 auto;
}

/* HEADER */
.nav-wrapper{
    background-color: blueviolet;
}

/* FOOTER */
.page-footer{
    padding-top: 20px;
    background-color: blueviolet;
    margin: auto;
    width: 100%;
    bottom: 0;
    
}

/* CARD's */
.container .container .card{
    padding: 2%;
}

.container .container .card .container h2 span{
    font-size: large;

}

.alert .card-content span {
    font-weight: bold;
    font-size: 1.1em;
    margin-right:4px;
}

.alert .card-content .material-icons {
    font-size: 1.5em;
    position: relative;
    top: 5px;
    margin-right: 0.5em;
}

/* Texto de ínicio */
.text-theme{
    width: 100%;
    font-size: 60px;
}
