{% extends "base/base.html" %}

{% block content %}

    <div class="container center">
        <h2 class="text-theme truncate" >
            Apuração
        </h2>
    </div>

    {% if opcoes %}
        <div class="container">
            <table class="responsive-table centered highlight striped z-depth-3">
                <thead>
                    <tr>
                        <th>Eleitor</th>
                        <th>Candidato</th>
                        <th>Quantidade de Votos</th>
                    </tr>
                </thead>
                <tbody class="table-index">
                    {% for opcao in opcoes %}
                            <tr>
                                <td>{{opcao.pessoa.nome}}</td>
                                <td class="truncate">{{opcao.opcao.nome}}</td>
                                <td>{{opcao.quantidade_votos}}</td>
                            </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container">
            <div class="alert card z-depth-5">
                <div class="card-content">
                    <p><i class="material-icons">info</i><span>No momento, não existem apurações disponíveis!</span></p>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock content %}