{% extends "base/base.html" %}

{% load materializecss %}

{% block content %}
    <!-- BREADCUMB -->
    <div class="nav-wrapper transparent">
        <div class="col s12 fs-5 p-3 m-2 pt-0">
            <a href="/" class="breadcrumb"><span class="text-primary">Dashboard</span></a>
            <a href="/" class="breadcrumb"><span class="text-primary">{{votacao.sala.titulo}}</span></a>
            <a class="breadcrumb"><span class="text-secondary">{{votacao.titulo}}</span></a>

            {% if votacao.sala.admin == request.user %}
                <div class="right">
                    <a class="center waves-effect waves-light btn bt-secondary z-depth-4 m-1" href="{% url 'editar_opcao' votacao.id %}">
                        EDITAR
                    </a>
                    <a class="center waves-effect waves-light btn bt-primary z-depth-4 m-1" href="{% url 'registrar_opcao' votacao.id %}">
                        ADICIONAR
                    </a>
                </div>
            {% endif %}

        </div>
    </div>

    <div class="container center">
        <h2 class="text-theme truncate" >
            {{ votacao.titulo }}
        </h2>
    </div>

    {% if listOpcaoVoto %}
        <div class="container">
                <div class="container">
                    <div class="card z-depth-3">
                        <form method="POST">
                            {% csrf_token %}
                            <p>
                                {% for opcao in listOpcaoVoto %}
                                    <div class="col s12">
                                        <label>
                                            <input name="voto" type="radio" value="{{opcao.id}}" required />
                                            <span>{{opcao}}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </p>
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
    {% else %}
        <div class="container">
            <div class="alert card z-depth-5">
                <div class="card-content">
                    <p><i class="material-icons">info</i><span>No momento, não existem opções de voto disponíveis!</span></p>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $("#id_data_nascimento").addClass('datepicker').attr("type","text");         
        }); 
    </script>
{% endblock %}