{% extends 'base_login.html' %}

{% load static %}

{% load materializecss %}

{% block title %}
    Reset Password Complete | Sign UP
{% endblock %}

{% block content %}
    <div class="container format-reset-password"> 
        <div class="container">
            <div class="container">
                <div class="center">
                    <img src="{% static 'images/reset.svg' %}" width="20%" height="20%">
                    <h5 class="center">Complete password reset</h5>
                    <span class="center">Your password has been set. You can proceed and authenticate now.</span>
                </div>
                <div class="container center">
                    <a href="{% url 'login' %}" class="btn btn-primary black">
                        <span class="text">SIGN IN</span>
                    </a>
                </div>
            </div>   
        </div>
    </div>
{% endblock %}

{% block css %}
    <style>
        .format-reset-password{
            margin-top: 8%;
        }

        .format-reset-password .container .container .container .btn{
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block javascript %}
{% endblock %}