{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Import Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}" media="screen,projection"/>

        <!-- css interno -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!-- Let browser know website is optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <!-- Import JQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
        <!-- Import Java Script -->
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}" defer></script>
        <script src="js/index.js" defer></script>

        <script type="text/javascript" src="{% static 'js/materializedatetimepicker.js' %}" defer></script>
    </head>

    <body>
        <script>

            $(document).ready(function(){
                $('select').formSelect();
                $('.datepicker').datepicker({
                    i18n: {
                    months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                    weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
                    weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                    weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                    today: 'Hoje',
                    clear: 'Limpar',
                    cancel: 'Sair',
                    done: 'Confirmar',
                    labelMonthNext: 'Próximo mês',
                    labelMonthPrev: 'Mês anterior',
                    labelMonthSelect: 'Selecione um mês',
                    labelYearSelect: 'Selecione um ano',
                    selectMonths: true,
                    selectYears: 15,
                    },
                    format: 'yyyy-mm-dd',
                    container: 'body',
                    minDate: new Date(),
                }); 
            });
        
            </script>
        <header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper">
                        <a href="{% url 'index' %}" class="brand-logo">Spending Control</a>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="#">Sass</a></li>
                            <li><a href="#">Components</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>

        <h1 class="h3 mb-0 text-gray-800">{{ nome_pagina }}</h1>
        <a href="{% url 'registrar_pessoa' %}" class="btn btn-primary btn-icon-split btn-sm">
            <span class="text">Registrar Pessoa</span>
        </a>
        <a href="{% url 'registrar_votacao' %}" class="btn btn-primary btn-icon-split btn-sm">
            <span class="text">Registrar Votação</span>
        </a>
        <a href="{% url 'registrar_opcao' %}" class="btn btn-primary btn-icon-split btn-sm">
            <span class="text">Registrar Opção Voto</span>
        </a>
        <a href="{% url 'listar_pessoas' %}" class="btn btn-primary btn-icon-split btn-sm">
            <span class="text">Listar Pessoa</span>
        </a>
        
        <main>
            {% block content %}
            {% endblock %}
            <!--
            <div class="fixed-action-btn">
                <a href="#" class="btn-floating btn-large pulse">
                    <i class="large material-icons">add</i>
                </a>
            </div>
            -->
            
        </main>
        
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    Copyright © 2021 Spending Control
                    <a class="white-text text-lighten-3 right" href="#!">More Links</a>
                </div>
        </footer>
        

        


    </body>
</html>