{% extends 'base.html' %}

{% load bootstrap5 %}

{% block content %}
    <div class="container">
        <section class="row min-vh-100 d-block pt-3 text-center d-sm-flex pt-sm-0 justify-content-sm-center align-items-sm-center text-sm-start">
            <div class="col-12 col-sm-8 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card rounded-3">
                    <div class="card-body px-xl-4">
                        <h4 class="text-grey font-public-sans fs-5 text-center">Criar nova Sala</h4>
                        <form method="POST">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button class="btn bg__primary hover d-grid w-100 rounded-3 mt-1 mb-2" type="submit">Logar</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block css %}
    <style>
        .font__platform,
        .font__subtitle{
            font-size: 0.9375rem;
        }
    </style>
{% endblock %}

{% block script %}
    <!-- BEGIN: INICIALIZAÇÂO -->
        <script>
            $(document).ready(function(){
                $(".form-control").attr("required", false)
            });
        </script>
    <!-- END: INICIALIZAÇÂO -->

    <!-- BEGIN: INICIALIZAÇÂO -->
        <script>
            $(document).ready(function(){
                $(".alert .close").remove();
            });
        </script>
    <!-- END: INICIALIZAÇÂO -->

    <!-- BEGIN: VALIDAÇÃO DE USUÁRIO -->
        <script>
            $("#id_username").change(function () {
                var form = $(this).closest("form");
                $.ajax({
                    url: "{% url 'validate_user' %}",
                    data: form.serialize(),
                    dataType: 'json',
                    success: function (data) {
                        if(!data.is_user){
                            generate_toast("error", "Falha na autenticação!", "O e-mail inserido não está registrado no sistema!");
                        }
                    }
                });
            });
        </script>
    <!-- END: VALIDAÇÃO DE USUÁRIO -->

    <!-- BEGIN: MOSTRAR/OCULTAR SENHA -->
        <script>
            $('#check_login').click(function () {
                if($(this).is(':checked')){
                    $("#id_password").attr("type", "text");
                } 
                else {
                    $("#id_password").attr("type", "password");
                }
            })
        </script>
    <!-- END: VALIDAÇÃO DE USUÁRIO -->
{% endblock %}