{% extends "base.html" %}

{% block content %}

<main>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="container">
                    <div class="alert alert-success card z-depth-5">
                        <div class="card-content">
                            <li{% if message.tags %} class="{{ message.tags }} text-purple"{% endif %}>{{ message }}</li>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    {% if messages %}  
        {% for messagem in messages %}
            <div class="container">
            	
            </div>
        {% endfor %}
    {% endif %}

    {% if pessoas %}
        <div class="col s12 m6 l10 center">
            <h2 class="text-theme truncate" >
                Pessoas Cadastradas
            </h2>
        </div>
        
        <div class="container">
            <table class="responsive-table centered highlight striped z-depth-3">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Data de Nascimento</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pessoa in pessoas %}
                        <tr>
                            <td>{{pessoa.nome}}</td>
                            <td>{{pessoa.cpf}}</td>
                            <td>{{pessoa.data_nascimento}}</td>
                            <td>{{pessoa.email}}</td>
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container">
            <div class="alert card z-depth-5">
                <div class="card-content">
                    <p><i class="material-icons">info</i><span>No momento, não existem pessoas cadastradas!</span></p>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="fixed-action-btn">
        <a href="{% url 'registrar_pessoa' %}" class="btn-floating purple lighten-2 btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
    </div>
</main>

{% endblock content %}