{% extends "base.html" %}

{% load materializecss %}

{% block content %}

<body style="background-color: pink;">
    <section>
        <div class="container">
            <div class="container">
                <div class="card">
                    <div class="container">
                        <form method="post">
                        {% csrf_token %}
                            {{ form|materializecss }}

                            <div class="text-right">
                                <a href="{% url 'index' %}" class="btn btn-secondary text-white" type="button">
                                    <span class="text">Cancelar</span>
                                </a>
                                <button class="btn btn-primary" type="submit">
                                    <span class="text">Registrar Pessoa</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock content %}