{% extends "base.html" %}

{% load materializecss %}

{% block content %}

<script>
    $(document).ready(function(){
        $("#id_data_nascimento").addClass('datepicker').attr("type","text"); 
    }); 
</script>

{% if form.errors %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="card z-depth-5">
                <div class='container center'>
                    <h4>
                        Cadastrar nova pessoa
                    </h4>
                </div>

                <div class="container style-form">                       
                    {{ form|materializecss }} 
                </div>

                <div class="center text-right">
                    <a href="{% url 'listar_pessoas' %}" class="btn btn-secondary text-white" type="button">
                        <span class="text">Cancelar</span>
                    </a>
                    <button class="btn btn-primary" type="submit">
                        <span class="text">Cadastrar</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>



{% endblock content %}