{% extends "base.html" %}

{% load materializecss %}

{% block content %}

<script>
    $(document).ready(function(){
        $("#id_data_nascimento").addClass('datepicker').attr("type","text"); 
        $("#id_data_inicio").attr("type","text"); 
        $("#id_data_fim").attr("type","text"); 

        M.AutoInit();

        var DateField = MaterialDateTimePicker.create($('#id_data_inicio'));
        var DateField = MaterialDateTimePicker.create($('#id_data_fim'));
    }); 
</script>

<body class="blue lighten-5">
    <section>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="container">
                    <div class="card teste">
                        <div class="container style-form">                       
                            {{ form|materializecss }} 
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="{% url 'index' %}" class="btn btn-secondary text-white" type="button">
                            <span class="text">Cancelar</span>
                        </a>
                        <button class="btn btn-primary" type="submit">
                            <span class="text">Registrar Pessoa</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>

{% endblock content %}