{% extends "base.html" %}

{% load materializecss %}

{% block title %}
    Register | System Votation
{% endblock %}

{% block content %}
    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container" style="margin-top: 3%; padding: 5px;">
        <form method="POST" onsubmit="return validacao_data()">
            {% csrf_token %}
            <div class="container">
                <div class="card z-depth-5">
                    <div class='container center grey-text text-darken-3'>
                        <h4>
                            Registrar
                        </h4>
                    </div>
                    <div class="container style-form">
                        <div class="row">
                            <div class="input-field col s12 m12 l12 xl12">
                                {{ form.nome|materializecss:'icon=person' }}
                            </div>
                            <div class="input-field col s12 m12 l12 xl12">
                                {{ form.descricao|materializecss:'icon=description' }}
                            </div> 
                            <div class="input-field center col s12 m12 l12 xl12">
                                {{ form.anonimo|materializecss }}
                            </div>
                            <div class="input-field col s12 m6 l6 xl6">
                                {{ form.data_inicio|materializecss:'icon=watch_later' }}
                            </div> 
                            <div class="input-field col s12 m6 l6 xl6">
                                {{ form.data_fim|materializecss:'icon=watch_later' }}
                            </div> 
                        </div>
                    </div>
                    <div class="center text-right">
                        <a href="{% url 'index' %}" class="waves-effect waves-light btn btn-secondary text-white {{colors.primary_class}}" style="margin-top: 3px;" type="button">
                            <span class="text">CANCELAR</span>
                        </a>
                        <button class="waves-effect waves-light btn btn-primary {{colors.primary_class}}" style="margin-top: 3px;" type="submit">
                            <span class="text">REGISTRAR</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block css %}
    <style>
        .card {
            border: 1px solid #e0e0e0;
        }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function(){
            $("#id_data_inicio").attr("type","text"); 
            $("#id_data_fim").attr("type","text"); 
            M.AutoInit();
            var DateField = MaterialDateTimePicker.create($('#id_data_inicio'));
            var DateField = MaterialDateTimePicker.create($('#id_data_fim'));
        }); 
    </script>
{% endblock %}